Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

URxvt.font: xft:DejaVu Sans Mono:size=10:antialias=true:hinting=true
URxvt.scrollBar: false
URxvt.saveLines: 10000
URxvt.termName: rxvt-256color
URxvt.xftAntialias: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt.geometry: 85x55

!! Extensions
URxvt.perl-ext-common: default,resize-font,clipboard
URxvt.keysym.C-k: perl:resize-font:bigger
URxvt.keysym.C-j: perl:resize-font:smaller
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

!! color scheme

! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff
